/* Import Fonts */
/* @font-face {
  font-family: 'Caros Bold';
  src: url('../fonts/cretypeCarosBold.woff');
}

@font-face {
  font-family: 'Caros Extra Light';
  src: url('../fonts/cretype\ \ Caros\ ExtraLight.woff');
} */

body {
  background: #d9f4ff;
}

/* Carrito de compras */
.buy {
  color: white;
  text-align: center;
  width: 300px;
  background-color: rgb(52, 172, 191);
  border-radius: 10px;
  position: fixed;
  padding: 10px 5px;
  top: 30px;
  right: 10px;
  z-index: 99;
}

/* Background Modals */
.bg-modal-login {
  background-image: url(../image/LavadoraGrandeModal.svg);
  background-repeat: no-repeat;
  background-position-x: 300px;
}

.bg-Modal {
  /* background-position: center; */
  background-image: url(../image/LavadoraGrandeModal.svg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-x: 250px;
}

.bg-modal-pass {
  background-image: url(../image/LavadoraGrandeModal.svg);
  background-repeat: no-repeat;
  background-position-x: 350px;
}

.btn-pay {
  border-radius: 30px;
  background: white;
  padding: 10px;
  width: 150px;
  border: none;
}

/* btn flotante */
.btn-flotante {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50px 0px 0px 50px;
  letter-spacing: 2px;
  background-color: rgb(6, 56, 115);
  padding: 10px;
  position: fixed;
  bottom: 40px;
  right: 0px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  background-color: rgb(52, 171, 191);
  color: #fff;
}

.close {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50px;
  letter-spacing: 2px;
  background-color: rgb(6, 56, 115);
  padding: 10px;
  position: fixed;
  bottom: 40px;
  right: 5px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.container-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  /* color: #ffffff; */
  /* border-radius: 50px;
  background-color: rgb(6, 56, 115); */
  position: fixed;
  bottom: 110px;
  right: 15px;
  z-index: 99;
}

.btn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 10px;
}
/* End btn flotante */

/* Services */
.icon-service {
  width: 80px;
}

.service-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-services {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-image-service {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-service {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgb(52, 172, 191);
}

.text-center-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-price {
  width: 80px;
  border: 2px solid rgb(6, 56, 115);
  padding: 2px 0px;
  margin: 0px 5px 0px 0px;
  border-radius: 20px;
  text-align: center;
}

.quantity {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(6, 56, 115);
  border-radius: 20px;
}

.quantity input[type='number']::-webkit-inner-spin-button,
.quantity input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity input[type='number'] {
  -moz-appearance: textfield;
}

.quantity input {
  border: none;
  padding: 2px 5px;
  width: 40px;
  text-align: center;
  outline: none;
}

.quantity input:focus {
  outline: none;
}

.btnQuantity {
  width: 10px;
}

/* Modal */
.modal-titulo {
  margin: 0px;
  font-size: 40px;
  text-transform: uppercase;
}

.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bordes-input {
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(52, 171, 191);
}

.bordes-input:focus {
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(52, 171, 191);
  outline: none;
}

.textmodal {
  font-weight: bold;
  font-size: 14px;
  /* line-height: 10px; */
  margin-bottom: 30px;
}

.btn-login {
  color: white;
  font-size: 18px;
  border-radius: 30px;
  background: rgb(52, 171, 191);
  border: none;
  padding: 10px 20px;
  margin: 15px 0px;
}

/* Modal order confirmation */
.title-order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  font-size: 40px;
  margin: 0px 10px 8px 0px;
  color: rgb(52, 172, 191);
}

.textPedido {
  text-align: center;
  font-weight: bold;
}

/* MODAL SHARE */
.content-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-share {
  text-decoration: none;
  text-align: center;
}

.btnShare {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(52, 171, 191);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  font-size: 60px;
}

.btnShare:hover {
  background-color: rgb(6, 56, 115);
  border: 2px solid rgb(6, 56, 115);
}
/* End Modal Share */

/* ------------------------------------------------------------------------------- */
/* Shoping */

/* Codigo de promocion */
.promotionCode {
  display: flex;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

.inputPromotion {
  width: 300px;
}

.btn-blue-pelarous {
  background-color: rgb(52, 171, 191);
  padding: 6px 20px;
  border-radius: 50px;
  border: 0px;
  color: #fff;
}

.btn-blue-pelarous:hover {
  background-color: rgb(6, 56, 115);
}

.btn-red {
  background-color: #c2272d;
  padding: 6px 20px;
  border-radius: 50px;
  border: 0px;
  color: #fff;
}

.priceShopping {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 0px 20px 0px;
}

/* Address Shopping */
.content-btn-add {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnDetalles {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid rgb(52, 171, 191);
  color: rgb(52, 171, 191);
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  border: 0;
}

/* Request */
.btnRequest {
  background-color: rgb(6, 56, 115);
  font-size: 25px;
  padding: 2px 30px;
  border: 0px;
  border-radius: 50px;
  color: #fff;
}
/* ------------------------------------------------------------------------------- */
/* Order */

.content-btn-pagar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-pagar {
  width: 150px;
  background-color: rgb(6, 56, 115);
  border: 0px;
  border-radius: 50px;
  color: #fff;
  padding: 10px 20px;
}

.priceShoppingOrder {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 30px 0px;
}

.inputOrder {
  margin-bottom: 10px;
}
/* ------------------------------------------------------------------------------- */
/* Phofile */
#nav-two-responsive {
  display: none;
}

.textDecorationNone {
  text-decoration: none;
}
.centerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-nav {
  width: 220px;
  height: 100px;
  border: 1px solid rgb(6, 56, 115);
  border-radius: 10px;
  background-color: white;
  line-height: 140px;
}

.circleCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(6, 56, 115);
  position: relative;
  top: 50px;
}

.circleCardResponsive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(6, 56, 115);
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  padding: 0px;
}

.nav-direct {
  text-align: center;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------ */
/* HISTORY */
.btnMoreDetails {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgb(52, 171, 191);
  border-radius: 50%;
  margin: auto;
}

.btn-search {
  border: 1px solid rgb(52, 171, 191);
  color: rgb(52, 171, 191);
  margin-left: 5px;
}

.btn-search:hover {
  background-color: rgb(52, 171, 191);
  color: #fff;
}

.inputSearch {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}

/* START MEDIAS QUERYS */
@media only screen and (max-width: 600px) {
  /* Services */
  .content-image-service {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-service {
    text-align: center;
    font-size: 14px;
  }
  .card-services {
    border-radius: 0px;
  }
  .buy {
    width: 200px;
    font-size: 12px;
    top: 80px;
  }
  /* Shopping */
  .promotionCode {
    flex-direction: column;
    display: flex;
    align-items: normal;
    margin: 0px 0px 20px 0px;
  }

  .inputPromotion {
    width: 100%;
  }

  /* order */
  .priceShoppingOrder {
    flex-direction: column;
  }

  /* Profile */
  #nav-two {
    display: none;
  }

  #nav-two-responsive {
    display: block;
  }

  /* History */
  .inputSearch {
    justify-content: flex-end;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .text-service {
    text-align: center;
  }

  /* Shopping code */
  .promotionCode {
    flex-direction: column;
    align-items: normal;
  }

  .inputPromotion {
    width: 100%;
  }
}
